# FIREBASE CONFIGURATION (Durgapur Fix Production Backend)
VITE_FIREBASE_API_KEY="AIzaSyDgz922-DOFf3Wy4qtKd-dsE1YiOrnLckE"
VITE_FIREBASE_AUTH_DOMAIN="durgapurfix-1935c.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="durgapurfix-1935c"
VITE_FIREBASE_STORAGE_BUCKET="durgapurfix-1935c.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="767865264343"
VITE_FIREBASE_APP_ID="1:767865264343:web:38cf5fe24b3a4cdc303892"
VITE_FIREBASE_MEASUREMENT_ID="G-EZ7LNGGVLV"
